<div class="card">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-6">
        <label for="collegeName" class="form-label">School/College name</label>
        <input type="text" class="form-control" id="collegeName" name="collegeName" [(ngModel)]="education.collegeName">
      </div>
      <div class="col-6">
        <label for="stream" class="form-label">Degree/Education</label>
        <input type="text" class="form-control" id="stream" name="stream" [(ngModel)]="education.stream">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="passYear" class="form-label">Passing Year</label>
        <input type="date" class="form-control" id="passYear" name="passYear" [(ngModel)]="education.passYear">
      </div>
      <div class="col-6">
        <label for="marks" class="form-label">Grade/Marks</label>
        <input type="text" class="form-control" id="marks" name="marks" [(ngModel)]="education.marks">
      </div>
    </div>
    <button class="btn btn-success" type="button" (click)="submitEducation()">Save Eduction</button>
  </div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">college name</th>
        <th scope="col">Stream</th>
        <th scope="col">Pass Year</th>
        <th scope="col">Marks</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edu of educationList; let i = index">
        <td>{{ edu.collegeName }}</td>
        <td>{{ edu.stream }}</td>
        <td>{{ edu.passYear }}</td>
        <td>{{ edu.marks }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEdu(i)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="educationList.length == 0">
        <td class="text-center" colspan="5">
          <h5>No Records Found..</h5>
        </td>
      </tr>
    </tbody>
  </table>


</div>
